{% extends "login.html" %}

{% block title %} <title>Register</title> {% endblock %}

{% block form %}
  <form action="/register" method="post"> <!-- POST b/c arguments in the address bar is a bad idea -->
    <h3>Create your account</h3>
    Username: <input type="text" name="user" required="required">
    <br><br>
    <!-- &nbsp; is a non-breaking space -->
    Password:&nbsp; <input type="password" name="pw" required="required">
    <br><br>
    <input type="submit" values="Submit">
    <br><br>
  </form>
{% endblock %}

{% block registerbutton %}
  <a href=/>Go back</a>
{% endblock %}