{% extends "welcome.html" %}

{% block title %} <title>Search stories</title> {% endblock %}

{% block content %}
<br><br>
<table border="1">
    <tr>
      <th align="left">Title</th>
      <th align="left">Latest update</th>
      <th align="left">Author</th>
    </tr>
    {% for story in sortedStories %}
      <tr>
        <td align="left"> <a href="../stories/{{ story[0] }}"> {{ story[0] }} </a> </td>
        <td align="left"> {{ story[1] }} </td>
        <td align="left"> {{ story[2] }} </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
</body>
</html>